<th:block th:fragment="cadastrarChamado">
    <div class="row justify-content-md-center">
        <div class="col col-md-9">
            <div class="card shadow bg-body rounded">
                <h5 class="card-header">
                    <div class="row justify-content-md-start">
                        <div class="hstack gap-2">
                            <div class="col-md">Novo Chamado</div>
                            <div class="col-md" th:if="${role}=='ANALISTA'? true : (${role}=='ADMINISTRADOR'? true : false)">
                                <div class="btn-group text-end" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-secondary" onclick="modalSelecionarUsuario()">
                                        Selecionar outro usuário <i class="bi bi-search"></i></button>
                                    <button type="button" class="btn btn-outline-success"
                                            onclick="modalEditarUsuarioAbertura('iusuarioAbertura')">Editar <i class="bi bi-pencil-square"></i></button>
                                    <button type="button" class="btn btn-outline-success"
                                            onclick="modalCriarUsuarioAbertura()"><i class="bi bi-person-plus-fill"></i></button>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </h5>
                <div class="card-body ">  
                    <form id="formChamado" class="row g-3 needs-validation" novalidate=""
                          method="POST" 
                          action="/atendimento/chamados" th:object="${chamado}">  

                        <div id="dados-usuario"></div>

                        <div class="mt-0">
                            <div class="row">                            
                                <div class="col-md-4 mb-3">
                                    <div class="form-floating">
                                        <select class="form-control link-success"
                                                aria-label="Origem"
                                                th:field="*{iOrigemChamado}"
                                                id="origem"
                                                th:attr="disabled=${role == 'CLIENTE'}">
                                            <option th:each="listaorigem : ${origens}" 
                                                    th:value="${listaorigem}" 
                                                    th:text="${listaorigem.descricaoOrigem}"
                                                    contenteditable="false"/>
                                        </select>
                                        <label for="origem">Origem</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="form-floating">
                                        <select class="form-control link-success"
                                                aria-label="Prioridade"
                                                th:field="*{iPrioridade}"
                                                id="prioridade">
                                            <option th:each="listaprioridade : ${prioridades}" 
                                                    th:value="${listaprioridade}" 
                                                    th:text="${listaprioridade.descricaoPrioridade}"
                                                    contenteditable="false"/>
                                        </select>
                                        <label for="prioridade">Prioridade</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3" th:if="${role} == 'ANALISTA'? true : (${role}==ADMINISTRADOR? true : false)">
                                    <div class="form-floating">
                                        <select class="form-control link-success" 
                                                aria-label="Nível"
                                                th:field="*{iNivel}"
                                                th:attr="disabled=${role == 'CLIENTE'}">
                                            <option th:each="listanivel : ${niveis}" 
                                                    th:value="${listanivel}" 
                                                    th:text="${listanivel.descricaoNivel}"
                                                    contenteditable="false"/>
                                        </select>
                                        <label for="nivel">Nível</label>
                                    </div>
                                </div> 
                            </div>

                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="accordion" id="accordionExample">                                                
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed link-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Arquivos                                                            
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="row">
                                                        <div class="col-md mb-3">
                                                            <input type="file"
                                                                   id="file"
                                                                   class="row col-md-6 form-control"                                                     
                                                                   form="formAnexo"
                                                                   name="file"
                                                                   multiple="multiple"
                                                                   th:attr="data-tamanho-maximo=${tamanhoMaximo}, accept=${extensoes}"
                                                                   onchange="checkFileSize(event, 'alertaGeral')"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-md mb-3">
                                    <div class="form-floating">                                    
                                        <input type="text"
                                               class="form-control" placeholder="Resumo"
                                               th:field="*{resumoChamado}"
                                               form="formChamado"
                                               required=""/>
                                        <label for="resumoChamado" class="col-sm col-form-label">Resumo</label>
                                        <div id="resumoChamado-feedback" class="invalid-feedback"></div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md mb-3">                                        
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <button class="nav-link active link-success" id="nav-descricao-tab" data-bs-toggle="tab" data-bs-target="#nav-descricao" type="button" role="tab" aria-controls="nav-descricao" aria-selected="true">Descrição</button>
                                            <button class="nav-link link-success" id="nav-problema-tab" data-bs-toggle="tab" data-bs-target="#nav-problema" type="button" role="tab" aria-controls="nav-problema" aria-selected="false">Problema</button>
                                            <button class="nav-link link-success" id="nav-solucao-tab" data-bs-toggle="tab" data-bs-target="#nav-solucao" type="button" role="tab" aria-controls="nav-solucao" aria-selected="false">Solução</button>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-descricao" role="tabpanel" aria-labelledby="nav-descricao-tab">
                                            <textarea class="form-control casp-textarea" required="" th:field="*{descricaoChamado}" aria-label="Descrição"></textarea>
                                        </div>
                                        <div class="tab-pane fade" id="nav-problema" role="tabpanel" aria-labelledby="nav-problema-tab">
                                            <textarea class="form-control casp-textarea" th:field="*{descricaoProblema}"aria-label="Problema"
                                                      th:disabled="${role}=='ANALISTA'? false : (${role}=='ADMINISTRADOR'? 'false' : 'true')"></textarea>
                                        </div>
                                        <div class="tab-pane fade" id="nav-solucao" role="tabpanel" aria-labelledby="nav-solucao-tab">
                                            <textarea class="form-control casp-textarea" th:field="*{descricaoSolucao}" aria-label="Solução"
                                                      th:disabled="${role}=='ANALISTA'? false : (${role}=='ADMINISTRADOR'? 'false' : 'true')"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="col-md mb-3">
                        <div class="text-lg-end">
                            <button type="button" 
                                    class="btn btn-success" 
                                    id="liveToastBtn"
                                    onclick="gravarChamado(event)">Gravar</button>                                        
                        </div>
                    </div>
                </div>
            </div>
            <form id="formAnexo" class="form-floating" method="PATCH" action="/atendimentos/anexos" 
                  enctype='multipart/form-data' th:object="${caspChamados}"> 
            </form>
        </div>
    </div>
    <div class="row mb-3">
        <div th:if="${role}=='ANALISTA'? true : (${role}=='ADMINISTRADOR'? true : false)"></div>
    </div>
</th:block>