<form id="edicaoUsuarioModalAbertura" class="form-floating needs-validation"
      method="POST" action="/atendimento/usuarios" 
      th:object="${usuarioModel}">
    <div class="modal-body">
        <div class="row justify-content-between">
            <input type="hidden" th:field="*{iUsuario}" hidden="" id="iusuario"/>
            <input type="hidden" th:field="*{iTipoUsuario}" hidden="" id="itipoUsuario"/>
            <div class="col-md-4 mb-3">            
                <div class="form-floating">
                    <input type="text" 
                           class="form-control" placeholder="Usuário"
                           th:field="*{nlogin}"
                           id="nlogin" required="" readonly=""/>
                    <label for="nlogin" class="col-sm col-form-label">Usuário</label>
                </div>
            </div>  
            <div class="col-md-3 mb-3">
                <div class="form-floating">
                    <select class="form-select"
                            id="situacaoUsuario" 
                            aria-label="Situacao"
                            th:field="*{situacaoUsuario}">
                        <option th:each="sit : ${situacoes}" 
                                th:value="${sit}" 
                                th:text="${sit}=='A'? 'Ativo' : 'Inativo'"
                                contenteditable="false"/>
                    </select>
                    <label for="situacao">Situação</label>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col-md mb-3">
                <div class="form-floating">                                    
                    <input type="text" 
                           class="form-control" placeholder="Nome"
                           th:field="*{nomeUsuario}"
                           id="nomeUsuario"
                           required=""/>
                    <label for="nomeUsuario" class="col-sm col-form-label">Nome</label>                                            
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md mb-3">
                <div class="form-floating">                                    
                    <input type="email" 
                           class="form-control" placeholder="E-mail"
                           th:field="*{emailUsuario}"
                           id="emailUsuario"/>
                    <label for="emailUsuario" class="col-sm col-form-label">E-mail</label>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="form-floating">                                    
                    <input type="tel" 
                           class="form-control" placeholder="Contato/Tel"
                           th:field="*{contatoUsuario}"
                           id="contatoUsuario"/>
                    <label for="contatoUsuario" class="col-sm col-form-label">Contato / Tel</label>
                </div>
            </div>
        </div>

        <div class="row">                    
            <nav>
                <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-entidades-tab" data-bs-toggle="tab" data-bs-target="#nav-entidades" type="button" role="tab" aria-controls="nav-entidades" aria-selected="true">
                        Entidades</button>
                    <button class="nav-link" id="nav-areas-tab" data-bs-toggle="tab" data-bs-target="#nav-areas" type="button" role="tab" aria-controls="nav-areas" aria-selected="false">
                        Área</button>
                    <button class="nav-link" id="nav-sistemas-tab" data-bs-toggle="tab" data-bs-target="#nav-sistemas" type="button" role="tab" aria-controls="nav-sistemas" aria-selected="false">
                        Sistemas</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-entidades" role="tabpanel" aria-labelledby="nav-entidades-tab">
                    <div class="col-md">
                        <div class="mb-3 form-text row d-flex justify-content-center mt-100">
                            <select class="form-control choicesEditarUsuario"                                                             
                                    multiple=""   
                                    th:field="*{caspEntidadesList}">
                                <option th:each="entidades : ${listaEntidades}"                                                         
                                        th:value="${entidades}"                                                         
                                        th:text="${entidades.nomeEntidade}"                                                        
                                        contenteditable="false"/>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-areas" role="tabpanel" aria-labelledby="nav-areas-tab">
                    <div class="col-md">
                        <div class="mb-3 form-text row d-flex justify-content-center mt-100">
                            <select class="form-control choicesEditarUsuario" 
                                    multiple=""   
                                    th:field="*{caspAreasList}">
                                <option th:each="areas : ${listaAreas}"                                                         
                                        th:value="${areas}"                                                         
                                        th:text="${areas.descricaoArea}"                                                        
                                        contenteditable="false"/>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-sistemas" role="tabpanel" aria-labelledby="nav-sistemas-tab">
                    <div class="col-md">
                        <div class="mb-3 form-text row d-flex justify-content-center mt-100">
                            <select class="form-control choicesEditarUsuario"  
                                    multiple=""   
                                    th:field="*{caspSistemasList}">
                                <option th:each="sistema : ${listaSistemas}"
                                        th:value="${sistema}"
                                        th:id="${sistema.iSistema}"
                                        th:text="${sistema.descricaoSistema}"  
                                        contenteditable="false"/>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" 
                class="btn btn-outline-secondary bi bi-x-lg"
                data-bs-dismiss="modal"                    
                onclick="">
            Fechar
        </button>
        <button type='button' class='btn btn-success bg-gradient bi bi-check-lg'
                th:value="*{iUsuario}" id="gravarCliente"
                th:attr="data-login=*{nlogin}"
                onclick="editarUsuarioAbertura(event)">
            Gravar
        </button>   
    </div>
</form>
<script>
    document.querySelectorAll('.choicesEditarUsuario').forEach(function (element) {
        new Choices(element, {
            removeItemButton: true,
            maxItemCount: 999,
            searchResultLimit: 5,
            renderChoiceLimit: 9999
        });

    });
</script>