<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="header-footer :: header"></head>
    <body class="cor-g">
        <input th:value="${login}" id="usuarioLogado" hidden="true"></input>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient mb-3"style="background-color: #95bb32" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/public/imagens/casp.png" class="align-content-center">
                        CASPVALE
                    </img>    
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>   

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menuPrincipal"/>
                </div>
                <span class="badge bg-secondary bg-gradient login" th:text="'Usuário: '+${login}" th:id="${login}"></span>
                <div class="btn-group p-1" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked
                           th:if="${role} == '[ANALISTA]'? 'true' : (${role} == '[ADMINISTRADOR]'? 'true' : false)"/>
                    <label class="btn btn-outline-success" for="btnradio1" 
                           th:if="${role} == '[ANALISTA]'? 'true' : (${role} == '[ADMINISTRADOR]'? 'true' : false)">Acesso Remoto</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                           onclick="moduloAtendimento()"/>
                    <label class="btn btn-outline-success" for="btnradio2">Atendimento</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                           th:if="${role} == '[ANALISTA]'? 'true' : (${role} == '[ADMINISTRADOR]'? 'true' : false)"
                           onclick="carregaHtml('/mv/ponto', 'root')"/>
                    <label class="btn btn-outline-success" for="btnradio3"
                           th:if="${role} == '[ANALISTA]'? 'true' : (${role} == '[ADMINISTRADOR]'? 'true' : false)">Registro de Ponto</label>
                </div>
                <div class="btn-group p-1" role="group" aria-label="Third group">
                    <a type="button" class="btn btn-danger" href="/logout">Sair</a>
                </div>
            </div>
        </nav>        
        <section> 
            <main class="container" style="margin-bottom:20rem;"> 
                <div class="row mb-3">                    
                    <div class="col-md">
                        <div class="cor-g1 bg-gradient rounded shadow-sm p-2">
                            <div id="principal">                            
                                <div id="root">TESTE</div>
                                <div id="toastId" class="toast-container position-fixed bottom-0 start-0 p-3"></div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </main>
        </section>

        <footer>
            <div class="d-flex flex-column flex-sm-row justify-content-end py-1 border-top fixed-bottom">
                <p>&copy; 2022 CASPVALE, Todos os direitos reservados.</p>                
            </div>
        </footer>
        <th:block th:replace="header-footer :: scriptsFooter"></th:block>
        <script>//moduloAtendimento();moduloAtendimento();chamadoUsuarioLogado();</script>
    </body> 
</html>