<th:block th:fragment="menu-principal">
    <nav class="navbar navbar-expand-lg navbar-dark mb-3 cor-logocasp"id="navPrincipal">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/public/imagens/casp.png" class="align-content-center">
                CASPVALE
                </img>    
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>   

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menuPrincipal"/>
            </div>
            <span class="badge bg-secondary bg-gradient loginlog pe-2" th:text="'Usuário: '+${login}" th:id="${login}"></span>
            <div th:replace="atendimento/fragments/menuPrincipal :: menu-modulos"></div>
        </div>            
    </nav>
</th:block>

<div th:fragment="menu-modulos">
    <div class="col col-md">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <!--<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                   th:if="${role} == 'ANALISTA'? 'true' : (${role} == 'ADMINISTRADOR'? 'true' : false)"
                   onclick="moduloAtendimento()"/>
            <label class="btn btn-outline-success" for="btnradio2"
                   th:if="${role} == 'ANALISTA'? 'true' : (${role} == 'ADMINISTRADOR'? 'true' : false)">Atendimento</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                   th:if="${role} == 'ANALISTA'? 'true' : (${role} == 'ADMINISTRADOR'? 'true' : false)"
                   onclick="moduloPonto()"/>
            <label class="btn btn-outline-success" for="btnradio3"
                   th:if="${role} == 'ANALISTA'? 'true' : (${role} == 'ADMINISTRADOR'? 'true' : false)">Registro de Ponto</label>-->
            <a type="button" class="btn btn-outline-success bg-gradient" href="/logout">→ Sair</a>
        </div>
    </div>
</div>