<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="header-footer :: header"></head>
    <body>
        <div class="container-fluid casp-margens">
            <div class="row justify-content-md-center">
                <div class="col col-md-4">
                    <div class="card text-center" style="margin-top: 7rem">
                        <div class="card-header">
                            <strong th:text="${statusMessage}"></strong>
                        </div>
                        <div class="card-body" th:text="${mensagem}">

                        </div>
                        <div class="card-footer">
                            <div>
                                <a class="btn btn-secondary" type="button" th:href="@{/}">
                                    Voltar ao início
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="d-flex flex-column flex-sm-row justify-content-end py-1 border-top fixed-bottom">
                <p>&copy; 2022 CASPVALE, Todos os direitos reservados.</p>                
            </div>
        </footer>
    </body>
</html>
