<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="header-footer :: header"></head>

    <body class="cor-g">
        <input th:value="${login}" id="usuarioLogado" hidden="true"></input>        
        <th:block th:replace="atendimento/fragments/menuPrincipal :: menu-principal"></th:block>
        <input id="tabelaSelecionada" hidden="true" value="aguardando"></div>
            <section> 
                <main class="container-fluid">             
                    <div class="cor-g1 bg-gradient rounded p-2">
                        <div id="alertaGeral"></div>      
                        <div id="root"></div>
                        <div id="toastId" class="toast-container position-fixed bottom-0 start-0 p-3"></div>
                    </div>
                </main>
            </section>

            <th:block th:replace="header-footer :: scriptsFooter"></th:block>

    </body> 
</html>