<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="header-footer :: header"></head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient"style="background-color: #95bb32" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/public/imagens/casp.png" class="align-content-center">
                        CASPVALE
                    </img>    
                </a>
            </div>
        </nav>    
        <div th:if="${param.error}">
            <div class="text-center fixed-top" style="margin-top: 3rem">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto" onclick="this.style.display = 'none'">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Usuário ou senha inválidos
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">             
            <div class="row justify-content-md-center">                
                <div class="col col-md-3" style="margin-top: 3rem">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4><strong>Acesso ao sistema</strong></h4>
                        </div>   
                        <div class="card-body">
                            <form action="/login" method="post">
                                <div class="mb-3">
                                    <label for="usuarioinput" class="form-label">Usuário</label>
                                    <input type="text" class="form-control" id="usuarioinput" aria-describedby="emailHelp" name="username" autocomplete="username"/>                                
                                </div>
                                <div class="mb-3">
                                    <label for="senhainput" class="form-label">Senha</label>
                                    <input type="password" class="form-control" id="senhainput" name="password" autocomplete="current-password"/>
                                </div>
                                <div class="text-center col">
                                    <button type="submit" class="btn btn-success" value="Entra">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <script src="/public/js/bootstrap.bundle.min.js"></script>
    </body>
</html>