<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:fragment="header">
        <title>CASPVALE</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>                                    
        <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
    </head> 
    <body>
        <div id="clasid" value="didi">
            <input id="a" value="55" class="clasitem" text="asdf">
            </input>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    >Voltar</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    th:value=1 onclick="testes()">
                Atender
            </button>
        </div>
    </body>
    <script>
        function testes(){
            const elementInContainer = document.querySelector('#clasid > #a');

            
            alert('Tt: '+elementInContainer.value);
        }
    </script>
</html>
