<div th:fragment="registroDePonto">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="input-group mb-3">            
                <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"/>
                <span class="input-group-text" id="basic-addon1">
                    Data
                </span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="input-group input-group-lg">
                <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"/>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"> Entrada </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group input-group-lg">
                <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"/>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Almoço</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group input-group-lg">
                <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"/>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Retorno</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group input-group-lg">
                <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"/>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Saídaf</button>
            </div>
        </div>    
    </div>
</div>